body {}
.principal{font-size: 30px;background: #CCCCCC;padding: 30px;margin-top: 2%;}
h1{font-size: 40px;padding-left: 20px;}
#sinuca{width: 100%;}
p {text-align: center}
#missao{font-size: 30px;}
em strong {color: rgb(250, 11, 11);}
h2{text-align: center;margin: 40px;}
.itens{font-style: italic;font-weight: bold;}
.beneficios{font-size: 30px;background-color:#FFFFFF ; padding: 20px;}
ul{display: inline-block; vertical-align: top ;width: 20%; margin-right: 15%;margin-left: 8%;font-size: 30px;}
#beneficios{width: 50%;}